/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


h1 {
  margin: 0;
  padding-bottom: 0.5em;
  font: 150% sans-serif;
  color: #226;
  border-bottom: 3px dotted #6a0043;
 }

 h3 {
       font-size: 120%;
       font-family: verdana, arial, helvetica, sans-serif;
       margin-left: 100px;
       margin-top: 0;
       margin-bottom: 2px;
       color: #227;
      }

 
#banner {
  background: #6a0043;
  border-bottom: 2px solid;
  font: small-caps 35px/35px verdana, arial, helvetica, sans-serif;
  color: #FFFFFF;
  text-align: center;
  height: 100px;
  line-height: 100px;
  img {
    float: left;
    height: 100px;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  background: #b35791;

  #main {
    margin-left: 20em;
    padding: 1em;
    background: white;
  }

  #side {
    float: left;
    padding: 1em 2em;
    background: #b35791;


/* START_HIGHLIGHT */
    form, div {
      display: inline;
    }  
 
    input {
      font-size: small;
    }

    #cart {
      font-size: smaller;
      color:     white;

      table {
        border-top:    1px dotted #6a0043;
        border-bottom: 1px dotted #6a0043;
        margin-bottom: 10px;
      }
    }


    ul {
      padding: 0;
      li {
        list-style: none;
        a {
          color: #6a0043;
          font-size: small;
        }
        a:hover{
          color: #ffffff;
          background: #b35791;
          }
      }
    }
  }


  .depot_form {
    fieldset {
      background: white;
      legend {
        color: #dfd;
        background: #6a0043;
        font-family: sans-serif;
        padding: 0.2em 1em;
      }
    }
      background: #6a0043;
  form {
      background: white;
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }

    select, textarea, input {
      margin--left: 0.5em;
    }

    .submit {
       margin-left: 4em;
    }

    br {
       display: none
     }
  }
}

}