// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carts, #side #cart {
      .item_price, .total_line {
      text-align: right;
   }

   .total_cell{
 	  color: white;
	  border-top: 1px dotted #6a0043;
      font-weight: bold;
   }
}